/* Primary colors used in this applicaiton */

$primary-white: #ffff;
$primary-black: #1b1d1b;
$primary-grey: #a9a9a9;
$primary-yellow: #ffd300;

/* Error notificaiton colors */

$error-red: #ff0000;
